/* Add a black background color to the top navigation */
body {
    margin: 0px;
}

main {
    margin-right: 30px;
    margin-left: 20px;
}

.topnav {
    margin: 0px;
    padding: 0px;
  }
  
  .topnav ul {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    background-color: #eee7e7;
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #e55656;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f4bfbf;
    color: rgb(245, 236, 236);
    text-underline-offset: #fff;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }