body {
    font-family: Arial, sans-serif;
    background-color: #28a7a0; /* Set the body background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1ec3e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(201, 30, 30, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

#text {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 70%;
    max-width: 400px;
    outline: none;
}

#image {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #afb2ac;
    border-radius: 10px;
    color: #fff;
    max-width: 900px;
    margin: 20px auto;
}

.post img {
    max-width: 100%;
    height: auto;
}

.form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input[type="file"] {
    color: #fff;
}

.input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.input-container label {
    color: #fff;
}

.options-container button {
    background-color: #c62828;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.options-container button:hover {
    background-color: #f2bf84;
}

/* Additional styles can be added below */
